* {
  text-shadow: none !important;
  font-family: 'Itim', Arial, Helvetica, sans-serif !important;
  text-transform: lowercase !important;
}

body {
  background: rgba(130, 167, 112, 2);
  color: white;
  font-size: 18px;
}

.ui-content {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 2rem;
}

.shorter {
  max-width: 55%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#member-container {
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cell-outer {
  position: relative;
  z-index: 100;
}

.image {
  background-image: url("http://orig13.deviantart.net/7c0f/f/2017/191/1/c/bg_by_toffeebot-dbfv43o.png");
  background-repeat: repeat;
  background-position: -2px 0px;
  z-index: 100;
  width: 130px;
  height: 55px;
  margin: 0rem 0rem 1rem 1rem;
  padding: 1rem 1rem 2rem 1rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.username {
  white-space: nowrap;
  position: absolute;
  background-image: url("http://orig11.deviantart.net/9eac/f/2017/191/f/4/bodybg_by_toffeebot-dbfv43k.png");
  background-repeat: repeat;
  padding: 3px 10px 10px 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #4c322b;
  top: -25px;
  left: 25px;
  z-index: -100;
}

a:hover#userCell {
  color: #ddaf9f;
}

.userInfo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url("http://orig13.deviantart.net/7c0f/f/2017/191/1/c/bg_by_toffeebot-dbfv43o.png");
  background-repeat: repeat;
  background-position: -2px 0px;
  z-index: 100;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 1rem;
  padding-top: 2rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.userInfoItem {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 95%;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
  background: #4c322b;
  color:#ffefd1;
  border: none;
}

.ui-header .ui-title, .ui-footer .ui-title {
  font-size: 1.5em;
  letter-spacing: 10px;
}

.ui-btn-icon-top {
  padding-top:1.75em;
}

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
  border: none;
}

.userContentHeader {
  background: #4c322b;
  color:#ffefd1;
  letter-spacing: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding:1rem;
  border: 1px solid #4c322b;
  padding-top: 0;
}

.userContent {
  background-image: url("http://orig11.deviantart.net/9eac/f/2017/191/f/4/bodybg_by_toffeebot-dbfv43k.png");
  padding: 1rem;
  border: 1px solid #4c322b;
  margin-top: -1rem;
}

.ui-navbar li .ui-btn {
  font-size: 20px;
  letter-spacing: 5px;
}

.userCells {
  display: block;
}

.userStats {
  text-align: center;
}

.userGoldTotal {
  font-size: 1.5rem;
  float: right;
}

.userGross {
  color: #4a8651;
}

.userSpendings {
  color: darkred;
}

.clear {
  clear: both;
}

.userCharacter {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.userCharaPortrait {
  height: 150px;
  background-position: -70px -25px;
}

.userCharaHousingPic {
  height: 100%;
  background-position: -50px 0px;
}

.userCharaInfo {
  text-align: right;
  background: #ad8361;
  padding:3px;
  padding-top: 8px;
}

.userCharaLeft {
  flex-basis: 15%;
  flex-grow: 1;
  border-right: 1px solid #4c322b;
}

.userCharaRight {
  flex-basis: 59%;
  flex-grow: 2;
}

.charaHousingInfo {
  padding:0.5rem;
}

hr {
  padding: 0;
  border: none;
  border-top: 1px dashed #4c322b;
  color: #4c322b;
  text-align: center;
}

hr:after {
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  padding: 0 0.25em;
}

.charaHouseUpgrades {
  margin: 0rem 1rem;
  height:75px;
  overflow: auto;
}

.ui-content ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.ui-content li {
  padding-left: 1em;
  text-indent: -1em;
}

.ui-content li:before {
  content: "+";
  padding-right: 5px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(76,50,43,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(76,50,43,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ad8361;
}

.ui-header .ui-title, .ui-footer .ui-title {
  white-space: normal;
}

@media (max-width: 1200px) {
  .shorter {
    max-width: 65%;
  }
}

@media (max-width: 1000px) {
  .shorter {
    max-width: 75%;
  }
}

@media (max-width: 850px) {
  #container {
    margin: 1rem 1rem 1rem 1rem;
  }

  .shorter {
    max-width: 90%;
  }
}

@media (max-width: 710px) {
  .shorter {
    max-width: 100%;
  }

  .ui-header .ui-title, .ui-footer .ui-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .userCharaLeft {
    flex-basis: 30%;
  }
}

@media (max-width: 460px) {
  .userCharacter {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}