* {
  font-family: 'Baloo Thambi', cursive !important;
  text-transform: lowercase !important;
  font-weight: 400 !important;
}
.ui-page {
  min-height: auto !important;
}
html,
body {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
body {
  /* Background pattern from Subtle Patterns */
  background: url('https://orig00.deviantart.net/674f/f/2018/003/0/4/2_by_toffeebot-dbyuo85.png') !important;
  color: #fff;
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 100%;
}
.container-inner {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}
.ui-content {
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}
.shorter {
  max-width: 490px;
}
.anchor {
  margin-top: -5em;
  padding-top: 5em;
  visibility: hidden;
}
.anchor2 {
  margin-top: -3em;
  padding-top: 3em;
  display: block;
  visibility: hidden;
}
.userInfo {
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2em;
}
.member-container {
  margin: 2rem 2rem 3rem 2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
  color: #4169ba;
}
.cell-outer {
  position: relative;
  z-index: 100;
}
.cell-outer > a {
  text-decoration: none;
}
.image {
  background-image: url("https://orig13.deviantart.net/4214/f/2017/228/9/2/bg_straightpanel_by_toffeebot-dbkc9nw.png");
  background-repeat: repeat;
  background-position: -155px 0px;
  text-align: center;
  z-index: 100;
  width: 175px;
  height: 55px;
  margin: 0rem 0.5rem 1rem 0.5rem;
  padding: 0.15rem 1rem 0.25rem 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(76, 50, 43, 0.4);
}
.shop-buttons {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: 'Bungee', cursive !important;
  font-size: 1.25em;
  width: 250px;
  height: 58px;
  padding: 0.5em;
  color: white;
  background-position: -100px 95px;
  text-shadow: 0px -1px 0 #4c322b, -1px 0px 0 #4c322b, 1px 0px 0 #4c322b, 0px 1px 0 #4c322b;
}
.buildingName {
  font-weight: bold !important;
  font-size: 1.5em;
  font-family: 'Bungee', cursive !important;
}
.buildingDesc {
  color: #2595A8;
  font-size: 0.8em;
}
.username {
  font-size: 0.9em;
  white-space: nowrap;
  position: absolute;
  background-image: url("https://orig11.deviantart.net/9eac/f/2017/191/f/4/bodybg_by_toffeebot-dbfv43k.png");
  background-repeat: repeat;
  padding: 3px 10px 10px 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #4c322b;
  top: -25px;
  left: 25px;
  z-index: -100;
}
a#userCell {
  color: #4a8651;
}
a:hover#userCell {
  color: #e66b6b;
}
.userInfoItem {
  margin: 0 auto;
  margin-bottom: 1rem;
  max-width: 92%;
}
.skipToBar {
  background: #4c322b;
  position: fixed;
  top: 0;
  left: 0;
  right: 12px;
  z-index: 1000;
  text-align: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.skipToBar a {
  padding-left: 0.1em;
  padding-right: 0.1em;
  text-decoration: none;
  color: #ffefd1;
  font-size: 1.1em;
}
.skipToBar a:visited,
.skipToBar a:hover {
  color: #ffefd1 !important;
}
.ui-header .ui-title,
.ui-footer .ui-title {
  font-size: 1.5em;
}
.ui-btn-icon-top {
  padding-top: 1.75em;
}
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
  border: none;
}
.userContentHeader {
  font-family: 'Bungee', cursive !important;
  background: #4c322b;
  color: #4c322b;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 1rem;
  border: 1px solid #4c322b;
  padding-top: 0.2em;
  padding-left: 0.5em;
  padding-right: 0;
  text-align: left;
  text-shadow: 0px -1px 0 #caa380, -1px 0px 0 #caa380, 1px 0px 0 #caa380, 0px 1px 0 #caa380;
}
.seasonTitle {
  font-size: 1.5em;
}
.userContent {
  background-image: url("https://orig11.deviantart.net/9eac/f/2017/191/f/4/bodybg_by_toffeebot-dbfv43k.png");
  padding: 1rem;
  border: 1px solid #4c322b;
  margin-top: -1rem;
}
.ui-navbar li .ui-btn {
  font-size: 20px;
}
.userCells {
  display: block;
}
.userStats {
  text-align: center;
}
.userBonus {
  color: #e1891f;
}
.userGoldTotal {
  color: #2595A8;
  font-size: 1.5rem;
  float: right;
}
.button50 {
  margin: 0.25em;
  width: 45% !important;
  display: inline;
  color: #fff !important;
}
.gold-clearBtn {
  background-color: #e66b6b !important;
}
.gold-addBtn {
  background-color: #4a8651 !important;
}
.form-result {
  color: #2595A8;
  font-size: 1.5rem;
}
.userGross {
  color: #4a8651;
}
.userSpendings {
  color: #e66b6b;
}
.padding-bottom-short {
  padding-bottom: 0.5em;
}
.userEnroll {
  margin-bottom: 0.5em;
}
.clear {
  clear: both;
}
.add-memory-button {
  float: right;
  cursor: pointer;
}
textarea#gold-users {
  overflow-y: auto;
}
#memory-form {
  display: none;
}
.userCharacter {
  padding: 0;
  display: flex;
  flex-direction: row;
}
.submitBtn {
  margin-top: 2em !important;
  background: #4c322b !important;
  color: #fff !important;
}
#fpcalc > .ui-select > .ui-btn > select {
  font-size: 1em !important;
}
.calc-about {
  font-size: 0.9em;
}
form {
  margin-top: 2em;
}
.calculator-form {
  max-width: 345px;
}
.small {
  font-size: 0.75em;
}
select option {
  margin: 40px;
  background: #a57a57;
  color: #4c322b;
}
.ui-input-text input,
.ui-input-search input {
  text-align: center;
}
#fpcalc > label,
#rpcalc > label,
#submit-gold > label,
#submit-memory > label {
  margin-top: 1em;
}
.form-subtext {
  color: #2595A8;
  font-size: 0.75em;
  margin-bottom: 1em;
}
.ui-page-theme-a a:hover,
html .ui-bar-a a:hover,
html .ui-body-a a:hover,
html body .ui-group-theme-a a:hover,
.ui-page-theme-a a:visited,
html .ui-bar-a a:visited,
html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited {
  color: #4169ba;
}
.userCharaPortrait {
  background-image: url("https://orig13.deviantart.net/4214/f/2017/228/9/2/bg_straightpanel_by_toffeebot-dbkc9nw.png");
  background-repeat: repeat;
  width: 100px;
  height: 200px;
  border-right: 1px solid #4c322b;
}
.userCharaInfo {
  text-align: right;
  background: #a57a57;
  padding: 3px;
  padding-top: 7px;
  padding-right: 0.5em;
  box-shadow: 0px 0px 3px 0px rgba(76, 50, 43, 0.75);
}
.userCharaRight {
  width: 100%;
}
.charaHousingInfo {
  padding: 0.5rem;
  height: 150px;
  overflow: auto;
  font-size: 0.8em;
  line-height: 1.5em;
}
.charaHouseLevel {
  padding-left: 0.5em;
  color: #2595A8;
}
hr {
  padding: 0;
  border: none;
  border-top: 1px dashed #4c322b;
  color: #4c322b;
  text-align: center;
  margin: 1em;
}
.userMemories > img,
.userMemories > a > img {
  margin: 0.25em;
}
.charaHouseUpgrades {
  margin: 0rem 1rem;
}
.ui-content ul,
.dialog ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  overflow: auto;
}
#memory-obtain {
  font-size: 0.8em;
}
#memory-link,
#gold-link {
  text-transform: none !important;
}
.submissionsList {
  padding: 0em 1em;
  text-align: left;
  font-size: 0.9em;
  margin: 0rem 1rem;
  margin-top: 1em;
  max-height: 200px;
  overflow: auto;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: rgba(173, 131, 97, 0.2);
}
.submissionsList ul li {
  margin: 1em 0em;
}
span span,
.brown-color {
  color: #a57a57;
}
.charaHousingInfo ul li {
  color: #e1891f;
}
.charaHousingInfo ul li ul li {
  color: #4a8651;
}
.ui-content li,
.dialog li {
  padding-left: 1em;
  text-indent: -1em;
}
.ui-content li:before,
.dialog li:before {
  content: "+";
  padding-right: 5px;
}
span#spending {
  color: #e66b6b;
}
.ui-content li#spending:before {
  content: "-";
  padding-right: 5px;
}
.ui-content ::-webkit-scrollbar,
.dialog ::-webkit-scrollbar {
  width: 12px;
}
.ui-content ::-webkit-scrollbar-track,
.dialog ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(76, 50, 43, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(76, 50, 43, 0.3);
  background-color: #ffefd1;
}
.ui-content ::-webkit-scrollbar-thumb,
.dialog ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #caa380;
}
.ui-header .ui-title,
.ui-footer .ui-title {
  white-space: normal;
}
.ui-btn-icon-notext.ui-btn-left {
  margin-top: 20px;
  margin-left: 5px;
}
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
  background: rgba(255, 255, 255, 0);
  margin: 0 auto;
}
.ui-loader {
  display: none !important;
}
#submit-memory .ui-input-text:first-child {
  display: none;
}
.loader {
  position: fixed;
  z-index: 99999;
  height: 100%;
  width: 100%;
  background: #a57a57;
  text-align: center;
}
.loader .auto-center {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.loader .bounce-conteneur {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.loader .bounce-conteneur .bounce {
  display: inline-block;
  height: 13px;
  width: 13px;
  background: #ffefd1;
  border-radius: 100%;
  margin: 2px;
}
.loader .bounce-conteneur .bounce-left {
  animation: left 1.5s ease infinite;
}
.loader .bounce-conteneur .bounce-center {
  animation: center 1.5s ease infinite;
}
.loader .bounce-conteneur .bounce-right {
  animation: right 1.5s ease infinite;
}
@keyframes left {
  0%,
  50%,
  75%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
}
@keyframes center {
  0%,
  25%,
  75%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
@keyframes right {
  0%,
  25%,
  50%,
  100% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.5);
  }
}
@-webkit-keyframes left {
  0%,
  50%,
  75%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
}
@-webkit-keyframes center {
  0%,
  25%,
  75%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
@-webkit-keyframes right {
  0%,
  25%,
  50%,
  100% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.5);
  }
}
.add-center {
  text-align: center;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.ui-bar-a {
  border: 0;
  border-top: 1px solid #4c322b;
}
td {
  padding: 0;
}
.day {
  font-size: 8em;
  line-height: 1em;
}
.month {
  font-size: 4em;
  line-height: 1em;
}
.calendar {
  background: #fff;
  border-radius: 0 0 1em 1em;
  box-shadow: 0 2px 1px rgba(76, 50, 43, 0.3), 0 3px 1px #fff;
  color: #555;
  display: inline-block;
  padding: 1em 2em 1.5em 2em;
}
.dialog a {
  color: #4169ba;
}
.calendar-container {
  display: inline-block;
  padding-left: 0.35em;
  margin-bottom: 3rem;
  margin-top: 2em;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 1em;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}
a.ui-btn {
  font-size: 1em;
}
.calendar td {
  cursor: pointer;
  padding: .5em 1em;
  text-align: center;
}
.calendar tbody td:hover {
  background: #caa380;
  color: #fff;
  border-radius: 1em;
}
.has-bday {
  text-decoration: underline;
}
.spring-background {
  background: #4a8651;
}
.spring-color {
  color: #4a8651;
}
.summer-background {
  background: #e1891f;
}
.summer-color {
  color: #e1891f;
}
.fall-background {
  background: #e66b6b;
}
.fall-color {
  color: #e66b6b;
}
#charaStats {
  font-size: 0.8em;
}
#charaCount {
  color: #4c322b;
}
.winter-background {
  background: #2595A8;
}
.winter-color {
  color: #2595A8;
}
#bdayList {
  margin-top: 1em;
}
.map {
  width: 355px;
  height: 325px;
  padding: 0;
  position: relative;
}
.map-ai {
  width: 266px;
  height: 350px;
}
.map-ss {
  width: 267px;
  height: 275px;
}
#map-tt {
  background-image: url("https://orig09.deviantart.net/a778/f/2017/200/3/c/map_res_tt_by_toffeebot-dbgyrbh.png");
}
#map-ll {
  background-image: url("https://orig00.deviantart.net/f1cd/f/2017/200/f/3/map_res_ll_by_toffeebot-dbgyrbj.png");
}
#map-ff {
  background-image: url("https://orig13.deviantart.net/15a3/f/2017/201/c/4/map_res_ff_by_toffeebot-dbh3bd5.png");
}
#map-ai-1 {
  background-image: url("https://orig07.deviantart.net/b5f8/f/2017/208/5/e/map_floor1_ai_by_toffeebot-dbhxr83.png");
}
#map-ai-2 {
  background-image: url("https://orig04.deviantart.net/3c39/f/2017/208/0/0/map_floor2_ai_by_toffeebot-dbhxr6u.png");
}
#map-ss-1 {
  background-image: url("https://orig00.deviantart.net/ffc0/f/2018/028/1/b/map_floor1_ss_by_toffeebot-dc1himk.png");
}
#map-ss-2 {
  background-image: url("https://orig00.deviantart.net/788a/f/2017/208/b/3/map_floor2_ss_by_toffeebot-dbhxrdg.png");
}
.inline-block {
  width: auto;
  display: inline-block;
}
.house-button {
  cursor: pointer;
  width: 15px;
  height: 15px;
  padding: 5px;
  font-size: 0.85em;
  color: #4c322b;
  position: absolute;
  text-shadow: 0px -1px 0 #ffefd1, -1px 0px 0 #ffefd1, 1px 0px 0 #ffefd1, 0px 1px 0 #ffefd1;
}
.inn-button-top {
  width: 35px;
  height: 29px;
  padding: 5px;
  padding-right: 10px;
}
.inn-button-side {
  width: 15px;
  height: 23px;
  padding-bottom: 5px;
  padding-left: 1px;
  padding-right: 9px;
  padding-top: 22px;
}
.inn-button-big {
  width: 24px;
  height: 38px;
  padding: 5px;
  padding-left: 4px;
  padding-right: 6px;
  padding-top: 35px;
}
.ss-button-side {
  width: 30px;
  height: 21px;
  padding: 5px;
  padding-right: 10px;
}
.ss-button-big {
  width: 35px;
  height: 32px;
  padding: 5px;
  padding-left: 4px;
  padding-right: 6px;
  padding-top: 25px;
}
.house-top-ll {
  background-image: url("https://orig09.deviantart.net/7e50/f/2017/200/6/4/house_top_ll_by_toffeebot-dbgyrf8.png");
}
.house-bottom-ll {
  background-image: url("https://orig12.deviantart.net/8cb4/f/2017/200/b/6/house_bottom_ll_by_toffeebot-dbgyrf4.png");
}
.fence-top-ll {
  background-image: url("https://orig11.deviantart.net/a16a/f/2017/200/9/e/fence_top_ll_by_toffeebot-dbgyrg1.png");
}
.fence-bottom-ll {
  background-image: url("https://orig12.deviantart.net/a2fd/f/2017/200/f/9/fence_bottom_ll_by_toffeebot-dbgyrg5.png");
}
.house-top-tt {
  background-image: url("https://orig05.deviantart.net/9800/f/2017/200/7/6/house_top_tt_by_toffeebot-dbgyre1.png");
}
.house-bottom-tt {
  background-image: url("https://orig11.deviantart.net/944e/f/2017/200/8/b/house_bottom_tt_by_toffeebot-dbgyre7.png");
}
.fence-top-tt {
  background-image: url("https://orig05.deviantart.net/2a90/f/2017/200/4/9/fence_top_tt_by_toffeebot-dbgyrec.png");
}
.fence-bottom-tt {
  background-image: url("https://orig10.deviantart.net/cea1/f/2017/200/c/a/fence_bottom_tt_by_toffeebot-dbgyre4.png");
}
.house-top-ff {
  background-image: url("https://orig02.deviantart.net/7bee/f/2017/201/6/8/house_top_ff_by_toffeebot-dbh388b.png");
}
.house-bottom-ff {
  background-image: url("https://orig14.deviantart.net/c81a/f/2017/201/7/e/house_bottom_ff_by_toffeebot-dbh388c.png");
}
.fence-top-ff {
  background-image: url("https://orig05.deviantart.net/ef6b/f/2017/201/c/b/fence_top_ff_by_toffeebot-dbh3880.png");
}
.fence-bottom-ff {
  background-image: url("https://orig09.deviantart.net/fc25/f/2017/201/b/8/fence_bottom_ff_by_toffeebot-dbh3882.png");
}
.room-top-ai {
  background-image: url("https://orig11.deviantart.net/7065/f/2017/205/9/2/room_top_ai_by_toffeebot-dbhgpzs.png");
}
.empty-top-ai {
  background-image: url("https://orig06.deviantart.net/5d9f/f/2017/205/c/5/empty_top_ai_by_toffeebot-dbhgpzl.png");
}
.room-side-ai {
  background-image: url("https://orig05.deviantart.net/5ed6/f/2017/205/3/a/room_side_ai_by_toffeebot-dbhgpzq.png");
}
.empty-side-ai {
  background-image: url("https://orig07.deviantart.net/b945/f/2017/205/6/6/empty_side_ai_by_toffeebot-dbhgpzo.png");
}
.room-big-ai {
  background-image: url("https://orig12.deviantart.net/86e6/f/2017/205/6/f/big_room_ai_by_toffeebot-dbhgpzj.png");
}
.room-side-ss {
  background-image: url("https://orig08.deviantart.net/5046/f/2017/208/e/4/room_side_ss_by_toffeebot-dbhxra7.png");
}
.empty-side-ss {
  background-image: url("https://orig09.deviantart.net/3acd/f/2017/208/5/d/empty_side_ss_by_toffeebot-dbhxr9h.png");
}
.room-big-ss {
  background-image: url("https://orig14.deviantart.net/6c69/f/2017/208/0/3/big_room_ss_by_toffeebot-dbhxrah.png");
}
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
  text-shadow: none;
}
#dialog {
  z-index: 1600;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 92%;
  max-width: 490px;
  transform: translate(-50%, -50%);
  display: none;
  box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.image-shadow {
  -webkit-filter: drop-shadow(0px 2px 0px rgba(76, 50, 43, 0.7));
  filter: drop-shadow(0px 2px 0px rgba(76, 50, 43, 0.7));
}
.overlay-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #4c322b;
  opacity: 0.5;
  z-index: 1500;
  display: none;
}
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
  text-shadow: none;
}
.ee-logo {
  max-width: 100%;
  margin-bottom: 1em;
}
.ui-page-theme-a .ui-btn:active,
.ui-page-theme-a .ui-btn:hover {
  color: #4c322b;
  text-shadow: none !important;
}
#market-button {
  position: absolute;
  display: flex;
  right: 1em;
  top: 2em;
}
#market-button a {
  margin: 0em 0.25em;
  height: 2em;
  width: 2em;
  box-shadow: 0px 3px 1px #4c322b;
}
#shop-image-link {
  border: 1px solid #4c322b;
  border-top: none;
  width: 91.5%;
  display: block;
  margin: 0 auto;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.shopImage {
  height: 250px;
  background-size: cover;
  background-position: center;
  padding: 1rem;
}
.artist-credit {
  display: block;
  position: absolute;
  right: 1.6em;
  margin-top: -0.6em;
}
.artist-credit a {
  text-decoration: none;
  color: #4c322b !important;
  font-family: 'Bungee', cursive !important;
  text-shadow: 0px -1px 0 #ffefd1, -1px 0px 0 #ffefd1, 1px 0px 0 #ffefd1, 0px 1px 0 #ffefd1;
}
.marketShopName {
  margin-top: 1.5em;
  margin-left: 1em;
  font-family: 'Bungee', cursive !important;
  font-size: 1.2em;
}
.firstShop {
  margin-top: 0.5em;
}
.market-shorter {
  margin-top: 5em;
  max-width: 727px;
}
#itemsContainer {
  padding: 0.5rem;
}
#itemsContainer .marketShopName:first-child {
  padding-top: 0;
}
.top {
  display: block;
}
.updates {
  display: block;
  font-size: 0.8em;
  color: #4a8651;
  text-align: left;
  margin-top: 0.5em;
}
.marketItemsContainer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}
.itemDiv {
  padding: 0.25em;
  margin: 0.25em;
  width: 110px;
  text-align: center;
  border: 1px solid #4c322b;
  border-radius: 3px;
  box-shadow: 1px 2px rgba(76, 50, 43, 0.4);
}
.marketShopInfo {
  color: #a57a57;
  font-size: 0.7em;
  margin-left: 1.8em;
  margin-right: 1.8em;
}
.itemPic {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.itemPic img {
  max-height: 100%;
  max-width: 100%;
}
.itemName {
  font-size: 0.7em;
  height: 35px;
}
.itemPrice {
  font-size: 0.66em;
  color: #4a8651;
  font-family: 'Bungee', cursive !important;
}
#dialog-portrait {
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}
.itemCost {
  float: right;
  margin-right: 1em;
  color: #4a8651;
  font-size: 0.8em;
}
.itemCredit {
  float: left;
  padding-top: 0.25em;
  margin-left: 0.5em;
  color: #4a8651;
  font-size: 0.65em;
}
.psa {
  font-size: 0.9em;
}
.itemDesc {
  color: #a57a57;
  font-size: 0.9em;
}
.jobUniform {
  font-size: 0.85em;
  margin-top: -0.5em;
  margin-bottom: 1em;
}
@media (max-width: 800px) {
  .member-container {
    margin: 2rem 1rem 3rem 1rem;
  }
}
@media (max-width: 738px) {
  .market-shorter {
    max-width: 585px;
  }
}
@media (max-width: 650px) {
  .calendar {
    padding: 1.5em;
  }
  .calendar td {
    padding: .5em;
  }
}
@media (max-width: 596px) {
  .market-shorter {
    max-width: 444px;
  }
}
@media (max-width: 455px) {
  .market-shorter {
    max-width: 303px;
  }
}
@media (max-width: 450px) {
  .calendar td {
    padding: .25em;
  }
}
@media (max-width: 409px) {
  .userInfoItem {
    max-width: 100%;
  }
  .market-shorter {
    max-width: 278px;
  }
  #shop-image-link {
    width: 100%;
  }
  .artist-credit {
    right: 0.6em;
  }
}
