* {
  text-shadow: none !important;
  font-family: 'Itim', Arial, Helvetica, sans-serif !important;
  text-transform: lowercase !important;
  font-weight: 400 !important;
}
body {
  background: #fff;
  color: #fff;
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 100%;
}
#bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
  background: url("http://orig05.deviantart.net/f634/f/2017/192/a/4/flower_shop_by_toffeebot-dbfzjit.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ui-content {
  max-height: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  overflow: auto;
  position: relative;
}
.shorter {
  max-width: 55%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#member-container {
  margin: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.cell-outer {
  position: relative;
  z-index: 100;
}
.image {
  background-image: url("http://orig13.deviantart.net/7c0f/f/2017/191/1/c/bg_by_toffeebot-dbfv43o.png");
  background-repeat: repeat;
  background-position: -155px 0px;
  text-align: center;
  z-index: 100;
  width: 150px;
  height: 55px;
  margin: 0rem 0rem 1rem 1rem;
  padding: 1rem 1rem 2rem 1rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.username {
  white-space: nowrap;
  position: absolute;
  background-image: url("http://orig11.deviantart.net/9eac/f/2017/191/f/4/bodybg_by_toffeebot-dbfv43k.png");
  background-repeat: repeat;
  padding: 3px 10px 10px 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #4c322b;
  top: -25px;
  left: 25px;
  z-index: -100;
}
a:hover#userCell {
  color: #e66b6b;
}
.userInfo {
  padding-top: 2rem;
}
.userInfoItem {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 95%;
}
.ui-header-fixed {
  background: #4c322b;
  color: #ffefd1;
  border: none;
}
.ui-header .ui-title,
.ui-footer .ui-title {
  font-size: 1.5em;
}
.ui-btn-icon-top {
  padding-top: 1.75em;
}
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
  border: none;
}
.userContentHeader {
  background: #4c322b;
  color: #ffefd1;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 1rem;
  border: 1px solid #4c322b;
  padding-top: 0;
  text-align: left;
}
.seasonTitle {
  font-size: 1.5em;
}
.userContent {
  background-image: url("http://orig11.deviantart.net/9eac/f/2017/191/f/4/bodybg_by_toffeebot-dbfv43k.png");
  padding: 1rem;
  border: 1px solid #4c322b;
  margin-top: -1rem;
}
.ui-navbar li .ui-btn {
  font-size: 20px;
}
.userCells {
  display: block;
}
.userStats {
  text-align: center;
}
.userBonus {
  color: #F7A541;
}
.userGoldTotal {
  color: #2595A8;
  font-size: 1.5rem;
  float: right;
}
.userGross {
  color: #4a8651;
}
.userSpendings {
  color: #e66b6b;
}
.clear {
  clear: both;
}
.userCharacter {
  padding: 0;
  display: flex;
  flex-direction: row;
}
.userCharaPortrait {
  width: 100px;
  height: 200px;
  border-right: 1px solid #4c322b;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.userCharaInfo {
  text-align: right;
  background: #ad8361;
  padding: 3px;
  padding-top: 8px;
}
.userCharaRight {
  width: 100%;
  height: 200px;
  overflow: auto;
}
.charaHousingInfo {
  padding: 0.5rem;
}
hr {
  padding: 0;
  border: none;
  border-top: 1px dashed #4c322b;
  color: #4c322b;
  text-align: center;
}
hr:after {
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  padding: 0 0.25em;
}
.charaHouseUpgrades {
  margin: 0rem 1rem;
  max-height: 75px;
  overflow: auto;
}
.ui-content ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.ui-content li {
  padding-left: 1em;
  text-indent: -1em;
}
.ui-content li:before {
  content: "+";
  padding-right: 5px;
}
.ui-content ::-webkit-scrollbar {
  width: 12px;
}
.ui-content ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(76, 50, 43, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(76, 50, 43, 0.3);
  border-radius: 10px;
}
.ui-content ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ad8361;
}
.ui-header .ui-title,
.ui-footer .ui-title {
  white-space: normal;
}
.ui-btn-icon-notext.ui-btn-left {
  margin-top: 20px;
  margin-left: 5px;
}
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
  background: rgba(255, 255, 255, 0);
  margin: 0 auto;
}
.loader {
  position: fixed;
  z-index: 99999;
  height: 100%;
  width: 100%;
  background: #ad8361;
}
.loader .auto-center {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.loader .bounce-conteneur {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}
.loader .bounce-conteneur .bounce {
  display: inline-block;
  height: 13px;
  width: 13px;
  background: #ffefd1;
  border-radius: 100%;
  margin: 2px;
}
.loader .bounce-conteneur .bounce-left {
  animation: left 1.5s ease infinite;
}
.loader .bounce-conteneur .bounce-center {
  animation: center 1.5s ease infinite;
}
.loader .bounce-conteneur .bounce-right {
  animation: right 1.5s ease infinite;
}
@keyframes left {
  0%,
  50%,
  75%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
}
@keyframes center {
  0%,
  25%,
  75%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
@keyframes right {
  0%,
  25%,
  50%,
  100% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.5);
  }
}
@-webkit-keyframes left {
  0%,
  50%,
  75%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
}
@-webkit-keyframes center {
  0%,
  25%,
  75%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
@-webkit-keyframes right {
  0%,
  25%,
  50%,
  100% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.5);
  }
}
.calendar-content {
  text-align: center;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  padding: 0;
}
.day {
  font-size: 8em;
  line-height: 1em;
}
.month {
  font-size: 4em;
  line-height: 1em;
  text-transform: lowercase;
}
.calendar {
  background: #fff;
  border-radius: 0 0 1em 1em;
  box-shadow: 0 2px 1px rgba(76, 50, 43, 0.3), 0 3px 1px #fff;
  color: #555;
  display: inline-block;
  padding: 1em 2em 1.5em 2em;
}
.calendar-container {
  display: inline-block;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 1em;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}
a.ui-btn {
  font-size: 1em;
}
.calendar td {
  padding: .5em 1em;
  text-align: center;
}
.calendar tbody td:hover {
  background: #caa380;
  color: #fff;
  border-radius: 1em;
}
.has-bday {
  text-decoration: underline;
}
.spring-background {
  background: #4a8651;
}
.spring-color {
  color: #4a8651;
}
.summer-background {
  background: #F7A541;
}
.summer-color {
  color: #F7A541;
}
.fall-background {
  background: #e66b6b;
}
.fall-color {
  color: #e66b6b;
}
.winter-background {
  background: #2595A8;
}
.winter-color {
  color: #2595A8;
}
#bdayList {
  margin-top: 1em;
}
@media (min-width: 1260px) {
  .shrink {
    max-width: 50%;
  }
}
@media (min-width: 900px) {
  .shrink {
    max-width: 75%;
  }
}
@media (max-width: 750px) {
  .shorter {
    max-width: 70%;
  }
}
@media (max-width: 650px) {
  .calendar {
    padding: 1em;
  }
  .calendar td {
    padding: .5em;
  }
}
@media (max-width: 500px) {
  .shorter {
    max-width: 95%;
    width: 95%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 450px) {
  .ui-content {
    width: 100%;
    padding: 0;
  }
  .calendar {
    padding: 0.5em;
  }
  .calendar td {
    padding: .25em;
  }
}
